In [6]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression, LogisticRegression

num_data = 10000

def sigmoid(x):
    return 1./(1+np.exp(-x))

df = pd.DataFrame({
    "x1": np.random.normal(size=num_data),
    "x2": np.random.normal(size=num_data),    
}).assign(
    prob_t = lambda df: sigmoid(df.x1+df.x2),
    t = lambda df: (df.prob_t >= np.random.uniform(size=num_data))*1,
    reward = lambda df: df.x1 - df.x2 + df.t
)

df

            x1        x2    prob_t  t    reward
0     0.674851 -0.637145  0.509425  1  2.311996
1     0.267070 -0.994096  0.325848  0  1.261166
2     0.881975  0.062009  0.719904  0  0.819966
3     2.388497  0.258595  0.933832  1  3.129902
4     1.158642 -0.582305  0.640224  1  2.740947
...        ...       ...       ... ..       ...
9995  0.553851 -1.027744  0.383695  1  2.581595
9996  0.018320 -0.577641  0.363705  0  0.595961
9997  0.527786  1.395862  0.872545  1  0.131924
9998 -0.251529  0.491120  0.559613  1  0.257350
9999 -1.204244  0.111142  0.251035  0 -1.315385

[10000 rows x 5 columns]

In [10]:
mode = LogisticRegression().fit(X=df[["x1", "x2"]], y=df["t"]==1)
df["t_pred"] = mode.predict_proba(df[["x1", "x2"]])[:,1]

In [13]:
df["reward_treatment"] = df["reward"]*df["t"]/df["t_pred"]
df["reward_no_treatment"] = df["reward"]*(1-df["t"])/(1-df["t_pred"])

In [14]:
(df["reward_treatment"]-df["reward_no_treatment"]).mean()

1.0293621663066082